body > header{
    height: 150px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    transition-duration: 0.5s;

    & > div.content-laptop{
        height: inherit;
        
        & > div{
            height: inherit;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .menu-itens{
                transition-duration: 0.5s;
                
                ul{
                    display: flex;
                    justify-content: space-between;

                    li{

                        a{
                            padding: 30px;
                            display: inline-block;
                            font-size: 1.6em;
                            color: inherit;

                            &:hover{
                                color:green
                            }
                        }
                    }
                }

                .menu__language{
                    display: none;
                }
            }
        }

        @media screen and (max-width: 1024px) {
            padding: 0;
        }
    }

    & > div section:fis{
        padding-top: 200px;
    }

    &.scroll{
        height: 100px;
        background-color: #ffff;
        box-shadow: 0px 0px 10px 0px #d6dde4;
    }

    .open-menu{
        background: url('./open-menu.svg') center no-repeat;
        background-size: cover;
        width: 40px;
        height: 40px;
        font-size: 0;
        padding: 0;
        margin: 30px;
    }

    .menu-itens__close{
        width: 100%;
    }

    @media screen and ( min-width: 780px ) {
        .menu-itens__close, .open-menu{
            display: none;
        }
    }

    @media screen and ( max-width: 780px ) {
        .menu-itens{
            background-color: #ffff;
            box-shadow: 0px 0px 10px 0px #d6dde4;
            position: absolute;
            top: 0;
            width: 100%;
            text-align: center;

            &:not(.open){
                top: -300px;
            }

            ul{
                flex-direction: column;
            }
        }
    } 
}
