header{
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;

    & + div{
        padding-top: 200px;
    }

    &.scroll{
        height: 100px;
        background-color: #ffff;
        box-shadow: 0px 0px 10px 0px #d6dde4;
    }

    .menu-itens{

        ul{
            display: flex;
            justify-content: space-between;

            li{
                margin: 0 15px;

                a{
                    color: #7d93b2;
                    padding: 30px;
                    display: inline-block;

                    &:hover{
                        color:green
                    }
                }
            }
        }

        .menu__language{
            display: none;
        }
    }

    .open-menu{
        background: url('./open-menu.svg') center no-repeat;
        background-size: cover;
        width: 40px;
        height: 40px;
        font-size: 0;
        padding: 0;
    }

    .menu-itens__close{
        width: 100%;
    }

    @media screen and ( min-width: 780px ) {
        .menu-itens__close, .open-menu{
            display: none;
        }
    }

    @media screen and ( max-width: 780px ) {
        .menu-itens{
            background-color: #ffff;
            box-shadow: 0px 0px 10px 0px #d6dde4;
            position: absolute;
            top: 0;
            width: 100%;
            text-align: center;

            &:not(.open){
                top: -300px;
            }

            ul{
                flex-direction: column;
            }
        }
    } 
}
