@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

h1{
    font-size: 6rem
}

h2{
    font-size: 4rem
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.5rem;
    font-weight: 500;
}

p, a{
    font-size: 1.8rem;
}

.black{
	font-weight: 900;
}

.light{
	font-weight: 200;
}

.uppercase{
    text-transform: uppercase;
}

.color-white{
    color: white;
}

strong{
    font-weight: bold;
}

.font-light{
    font-weight: 200;
}

.font--black{
    font-weight: 900;   
}

a {
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

textarea{
    font-size: 1.8em;
}